/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#primaryNav button::before {
    content: "\2630";
}

#primaryNav button {
    border: none;
    background: none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height:44px;
   

    cursor: pointer;
}

#primaryNav ul {
    position: absolute;
    right: $gutter;
    width: 200px;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    text-align: right;

    display: none;
li a {
    color: $primaryColor;
    display: block;
    padding: .75rem $gutter;
    text-decoration: none;
}
li.active a {
    background-color: $secondaryColor;
    color: #000; 

}
}//end of ul

//open class
#primaryNav button.open::before {
    content: "\2715";
}

#primaryNav ul.open {
    display: block;
}









/* --------------------------- MAIN --------------------------- */
h1 {
    margin:10px;
}
main img {
    width: 100%;
    height: auto;
}

//styling rows
.row {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 8px;

}

//columns rows
.column {
    padding: 0 8px;
    margin: 8px 0;

}

// create the for loop
@for $i from 1 through 12 {
    $w: calc($i /12) *100%;
    .small-#{$i} {flex-basis: $w;}
 }
 .line, .round, .fill, .shadow{padding:8px 8px;}
.line{border: 1px #eee solid;}
.round{border-radius: 9px;}
.fill{background-color: $primaryColor; color:#fff;}
.shadow{box-shadow: 0 0 10px #9b9b9b;}




/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: #fff;
    text-align: center;
    line-height: $leading;
    a {color: #fff;}
}// end footer