$primaryColor: #003659; 
$secondaryColor: #A3E635;
$accentColor: #F5F5F5;
$greyColor: #4A4A4A;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;